:root{
    --main-background-color:#292929;
    --navbar-background-color:#333;
    --main-color:#fff;
    /*SCROLLBAR*/
    --thumb-background-color:#D3D1CB;
    --track-background-color:tra    nsparent;
}

*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
li{
    list-style: none;
}
::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-thumb{
    background-color: var(--thumb-background-color);
}
::-webkit-scrollbar-track{
    background-color:var(--track-background-color);
}
body{
    background-color: var(--main-background-color);
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
    .main{
        width: 100%;
        height: 100vh;
        display: flex;
        .main__navbar{
            height: 100vh;
            width: 30rem;
            background-color: var(--navbar-background-color);
        }
        .main__content-wrapper{
            width: calc(100% - 20rem);
            height: 100vh;
            overflow-y: scroll;
            .content-wrapper__header{
                position: sticky;
                top: 0;
                left: 0;
                height: 4.6rem;
                width: 100%;
                background-color: transparent;
             
            }
            .content-wrapper__banner-container{
                height: 19.5rem;
                width: 100%;
                overflow: hidden;
                .content-wrapper__banner{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .content-wrapper__work-area{
                padding: 10rem;
                .work-area__description-list{
                    .description-list__element{
                        display: flex;
                        align-items: center;
                        font-size: 2.3rem;
                        .description-list__icon{
                            height:3.8rem;
                            user-select: none;
                            cursor: pointer;
                        }
                        .description-list__title{
                            color: var(--main-color);
                        }
                        .description-list__title::selection{
                            background: rgba(8, 165, 255, 0.4);
            
                        }
                    }
                }
                .work-area__custom-list{
                    width: 100%;
                    cursor: pointer;
                    min-height: 5rem;
                    margin-top: 2.5rem;
                    .custom-list__list-element{
                        width: 100%;
                        height: 5rem;
                        position: relative;
                        cursor:default;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                        .custom-list__options{
                            color: var(--main-color);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            left: -5rem;
                            top:0;
                            opacity: 0;
                            transition: 100ms all ease-in-out;
                            width: 6rem;
                            height: 5rem;
                            .custom-list__add,
                            .custom-list__dots-btn{
                                font-size: 1.5rem;
                            }
                            .custom-list__dots-menu{
                                position: absolute;
                                opacity: 0;
                                pointer-events: none;
                                width: 100rem;
                                height: 30rem;
                                background-color: #fff;
                                box-shadow: rgba(0, 0, 0, 0.6);
                            }
                        }
                        .custom-list__options:hover{
                            opacity: 0.6;
                        }
                        .custom-list__input-text{
                            font-size: 1.8rem;  
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-color: transparent;
                            border: none;
                            outline: none;
                            cursor:default;
                            color: var(--main-color);
                            padding-left: 1rem;
                            padding-right: 1rem;
                            transition: 100ms all ease-in-out;
                        }          
                        
                        .custom-list__input-text:hover ~ .custom-list__options{
                            opacity: 0.6;
                        }
                    }
                    .custom-list__input-text:focus-within{
                        background-color: #fff;
                        box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.6);
                        color: #222;
                    }
                    .custom-list__input:not(:focus-within){
                        background-color: transparent;
                        box-shadow: none;
                        color: #fff;
                    }
                    .custom-list__list-element.dragging{
                        border: 1px solid #fff;
                        border-radius: 5px;
                        
                    }
                }
                .work-area__add-task{
                    width: 100%;
                    height: 5rem;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 1rem;
                    color: rgba(255, 255, 255, 0.4);
                    font-size: 1.6rem;
                    cursor: pointer;
                    .work-area__add-task{
                        width: fit-content;
                        pointer-events: none;
                        user-select: none;
                    }
                    .work-area__add-text{
                        width: fit-content;
                        pointer-events: none;
                        user-select: none;
                    }
                }
                .work-area__add-task:hover{
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }
        }
    }
    
    
}

